/* styles.css */

body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333333;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 40px;
    width: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #333333;
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 75%; /* 3/4 width */
    margin: 20px auto; /* Center the line */
}

.menu {
    position: absolute;
    right: 20px;
    top: 60px;
}

.menu ul {
    list-style: none;
    display: block; /* Change to block for vertical alignment */
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 0.9em;
}

.form-section, .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-content img {
    height: 30px;
    margin-right: 10px;
}

.footer-content p {
    margin: 0;
    font-weight: 600;
}

.x-link {
    display: inline-block;
    margin-top: 10px;
}

.x-img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
